.container {
	padding: 0 40px;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
._line {
	overflow: hidden;
}
._line::after {
	content: '';
	width: 100%;
	margin-top: 1px;
	border-top: 1px solid $main-accent;
	transform-origin: left center;
	transform: translateX(-100%);
	will-change: transform;
	transition: transform 200ms ease-out;
}
._line:hover::after {
	transform: translateX(0%);
}
._line._thick-line::after {
	content: '';
	width: 100%;
	border-width: 2px;
	background-color: $main-accent
}

.info-only {
	color: $faded;
	margin-left: 2px;
}
@media screen and (max-width: 768px) {
	.container {
		padding: 0 25px;
	}

	main {

		.wrapper_404 {
			.error {
			.error_button {
				a {
					width: 100%;
					max-width: 100%;
					min-width: auto;
				}
			}
			}

		}

	}
}