footer.footer
    .container 
        .inner-footer.flex-space
            .left_wrapper
                span 2023
    

            .right_wrapper
                span ©
                    strong Elora