footer.footer
    .container 
        .inner-footer.flex-space
            .left_wrapper
                .switch_theme.flex-space
                    span.icon
                        svg(viewbox='0 0 20 20')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 11.9778 0.58649 13.9112 1.6853 15.5557C2.78412 17.2002 4.3459 18.4819 6.17317 19.2388C8.00043 19.9957 10.0111 20.1937 11.9509 19.8079C13.8907 19.422 15.6725 18.4696 17.0711 17.0711C18.4696 15.6725 19.422 13.8907 19.8079 11.9509C20.1937 10.0111 19.9957 8.00043 19.2388 6.17317C18.4819 4.3459 17.2002 2.78412 15.5557 1.6853C13.9112 0.58649 11.9778 0 10 0C7.34873 0.0029116 4.80688 1.05742 2.93215 2.93215C1.05742 4.80688 0.0029116 7.34873 0 10ZM0.4 10C0.4 8.1013 0.96303 6.24524 2.01789 4.66653C3.07275 3.08781 4.57207 1.85736 6.32624 1.13076C8.08041 0.404155 10.0106 0.214043 11.8729 0.584461C13.7351 0.954879 15.4456 1.86919 16.7882 3.21177C18.1308 4.55436 19.0451 6.26492 19.4155 8.12713C19.786 9.98935 19.5958 11.9196 18.8692 13.6738C18.1426 15.4279 16.9122 16.9272 15.3335 17.9821C13.7548 19.037 11.8987 19.6 10 19.6C7.45528 19.5971 5.01569 18.5846 3.21676 16.7847C1.41784 14.9848 0.406588 12.5447 0.405 10H0.4ZM9.948 17.11C8.54177 17.11 7.16713 16.693 5.9979 15.9117C4.82866 15.1305 3.91736 14.0201 3.37922 12.7209C2.84108 11.4217 2.70028 9.99211 2.97462 8.61291C3.24896 7.2337 3.92612 5.96682 4.92047 4.97247C5.91482 3.97812 7.1817 3.30096 8.56091 3.02662C9.94011 2.75228 11.3697 2.89308 12.6689 3.43122C13.9681 3.96936 15.0785 4.88066 15.8597 6.0499C16.641 7.21913 17.058 8.59377 17.058 10C17.0559 11.8842 16.3068 13.6906 14.975 15.0234C13.6431 16.3562 11.8372 17.1066 9.953 17.11H9.948Z' fill='currentColor')

                    span.text.flex-column._line 
                        span Switch to light mode 
    

            .right_wrapper
                span ©
                    strong Elora