header.header
    .container 
        .inner-header.flex-space
            h1.logo.flex-space
                span.logo-path 
                    svg(viewbox='0 0 16 16')
                        path(opacity='0.25' d='M16 0H0V16H16V0Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M16 0H10.909V5.091H16V0ZM5.091 10.909H0V16H5.091V10.909ZM4.121 0H0V3.776L11.933 16H16V12.768L4.121 0Z' fill='currentColor')
                span.separate_line
                span.service-logo Github
                span.version v1.0.0


        
            .right_wrapper
                span
                    a(href="https://github.com/eloraa", rel="noreferrer")
                        svg(data-visualcompletion='ignore-dynamic' role='img')
                            mask(id=':R9f994fcf:')
                              circle(cx='12' cy='12' fill='white' r='12')
                            g(mask='url(#:R9f994fcf:)')
                              image(height='100%' width='100%' x='0' y='0'  preserveaspectratio='xMidYMid slice' xlink:href='./assets/static/media/images/108570316.jpg')
                              circle(fill='none' stroke='currentColor' stroke-width='2' cx='12' cy='12' r='12')
