doctype html
html(lang='en').light
    include utils/_vars

    include head

    body
        ._container
            block header
            include header

            block main
            
                .flex-fill
                main
                    .container
                        .wrapper_404
                            .error.flex-column
                                .error_code
                                    .error_path
                                        svg(viewbox='0 0 374 160' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M122.662 91.2281H82.7771V0L0 111.88H58.926V160L82.7771 132.13V111.88H101.818L122.662 91.2281ZM24.4523 91.4286C20.8446 91.0276 20.2433 89.0226 22.6485 85.4135L49.3055 48.9223C54.9175 41.7043 58.7256 42.9073 58.7256 51.7293V91.4286H24.4523ZM182.791 4.81203C166.556 5.01253 153.729 11.6291 143.908 24.6617C134.287 37.4937 129.277 53.9348 129.076 74.1855C128.771 90.7336 132.485 107.109 139.899 121.905C147.315 136.341 161.746 146.165 180.185 146.165C211.051 146.767 231.696 111.278 231.295 76.391C231.295 58.1454 228.288 42.1053 221.073 27.8697C213.857 13.4336 200.429 4.61153 182.791 4.81203ZM204.638 75.3885C206.442 96.8421 207.043 117.895 200.83 132.13C197.823 139.148 193.614 142.356 188.203 142.155C181.188 141.955 174.974 135.739 169.563 123.108C164.151 110.476 160.543 94.2356 158.339 74.386C156.134 54.9373 156.334 39.0977 159.14 26.8672C162.147 14.4361 167.358 8.22055 175.175 8.22055C188.603 7.81955 199.827 35.0877 204.638 75.3885ZM374 91.2281H334.115V0L251.338 111.88H310.264V160L334.115 132.13V111.88H353.155L374 91.2281ZM275.79 91.4286C272.182 91.0276 271.581 89.0226 273.986 85.4135L300.643 48.9223C306.255 41.7043 310.063 42.9073 310.063 51.7293V91.4286H275.79Z' fill='currentColor')

                                .error_text something is not found
                                .error_button 
                                    a(href="https://github.com/eloraa", rel="noreferrer") visit GitHub profile
                                .error_info.info-only the site will be automatically redirected to the GitHub profile

            .flex-fill
            block footer
                include footer
        script(src="./js/index.js") 